{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icon/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icon/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icon/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'images/icon/site.webmanifest' %}">
      <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'styles/style.css' %}">
      <link rel="stylesheet" href="{% static 'styles/style-land.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- Add your CSS stylesheets, scripts, or meta tags here -->

</head>
<body>

<header>
    <h1>Welcome to robotics Interactive</h1>
</header>

<div class="container">
    <nav>
        <a href="/myCourses/">My Courses</a>
        <a href="/facultyCourses/">Faculty Courses</a>
        <a href="/login/">Login/SignUp</a>
        <!-- <a href="/logout/">Logout</a> -->
    </nav>

    <div class="content">
        <h2>About Us</h2>
        <p>Welcome to our platform! We offer various courses for students and faculty.</p>
        <p>Explore our courses and enhance your learning experience.</p>
        <!-- Add more content here -->
    </div>
</div>

</body>
</html>
